<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/69e2443572.js" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fontello.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <title>Campaign_KT</title>
</head>
<body>
  <body class="text-center justify-content-center">

    <nav class="navbar navbar-expand-lg " style="height: 70px;background: linear-gradient(118.18deg, #2992e0 -7.25%, #1dbe90 99.98%);"> 
      <div class="container-fluid"> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
            <img class="" src="{{ url_for('static', filename='img/telecom.svg') }}" width="120"> 
          </ul> 
          <div class="d-flex"> 
            <ul class="navbar-nav"> 
              <li class="nav-item" > 
                <a class="navbar-brand text-light" href="/">Кампании</a> 
              </li> 
              <li class="nav-item"> 
                <a class="navbar-brand text-light" href="/settings">Настройки</a> 
              </li>
              <li class="nav-item"> 
                <a class="navbar-brand text-light" href="/logout">Выход</a> 
              </li> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </nav>

<div class="container justify-content-center mx-auto mb-5 row pa">
  <div class="row justify-content-center mt-5">

{% from "_formhelpers.html" import render_field %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2>{% block title %} Настройки {% endblock %}</h2>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <div class="justify-content-center">
              {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}           
                          <div class="modal fade" style="border-radius: 15px;" id="exampleModal" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Error</h1>
                                  </div>
                                  <hr>
                                  <div class="modal-body">
                                      {{ message }}
                                      <hr>
                                    </div>
                                </div>
                              </div>
                            </div>
                          <script>
                              $('#exampleModal').modal('show');
                          </script>                 
                          {% endfor %}
                      {% endif %}
                  {% endwith %}
              </div>
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.sip_server.label(class="form-control-label py-2 mt-2") }}
                    {{ form.sip_server(class="form-control m-auto") }}
                    {% if form.sip_server.errors %}
                        {% for error in form.sip_server.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                  {{ form.server_ip.label(class="form-control-label py-2 mt-2") }}
                  {{ form.server_ip(class="form-control m-auto") }}
                  {% if form.server_ip.errors %}
                      {% for error in form.server_ip.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
              </div>  
                <div class="form-group">
                    {{ form.time_out.label(class="form-control-label py-2") }}
                    {% if form.time_out.errors %}
                    {{ form.time_out(class="form-control m-auto form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.time_out.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.time_out(class="form-control m-auto py-2") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <h5 class="mt-3">
                        Состояния кампаний
                    </h5>
                    <div class="form-check">
                        <input class="form-check-input" style="float: none; margin-left: 0%;" type="radio" value="0" name="Radio" id="Radio">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Выключить 
                        </label>
                        <input class="form-check-input" style="float: none; margin-left: 0%;" type="radio" value="1" name="Radio" id="Radio">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Включить
                        </label>
                      </div>
                      
                </div>    
            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary mt-5 btn-lg px-4 me-md-2") }}
                <button type="button" style="padding-right: 10px;" class="btn  mt-5 btn-dark btn-lg px-4 me-md-2">
                  <a href="/" style="text-decoration: none; color:white;">Назад</a>
                </button>
            </div>
        </form>
    </div>